<html>
    <body>
        <h1 id="hs_sem5_programmingproject">HS_Sem5_ProgrammingProject</h1>
        <p>HS Osnabrück - 5 Semester - Prüfungsleistung im Modul Programmierprojekt</p>
        <h2 id="hinweis">Hinweis</h2>
        <p>Nur Implementierung der API Schnittstelle.
        Die Implementierung des Frontends wird in einem separaten Repository bearbeitet. (<a href="https://github.com/MBulti/HS_Sem5_ProgrammingProject_Frontend">https://github.com/MBulti/HS_Sem5_ProgrammingProject_Frontend</a>)</p>
        <h2 id="aufgabenbeschreibung">Aufgabenbeschreibung</h2>
        <p>Netflix streams movies to its users andshared its data to provide improved
        movie recommendations. You are tasked to create a recommenation system for its users.</p>
        <p>To do this exercise, the company provides several files, such as information on the movies, and user ratings, 
        summing up to a total of 480189 unique users and 17770 movies.
        As the movie details provided in the data-set you are expected to take advantage of publicly available information, such as the latest IMDb information here 
        <a href="https://www.imdb.com/interfaces/">https://www.imdb.com/interfaces/</a>.</p>
        <p>Further details can be found here 
        <a href="https://www.kaggle.com/datasets/netflix-inc/netflix-prize-data">https://www.kaggle.com/datasets/netflix-inc/netflix-prize-data</a></p>
        <h2 id="projektmanagement">Projektmanagement</h2>
        <p>Die Durchführung des Projektes erfolgt in drei Sprints. Das Management wird über Jira durchgeführt.
        <a href="https://hsosprojekte.atlassian.net/jira/software/projects/PROG/boards/2/backlog">https://hsosprojekte.atlassian.net/jira/software/projects/PROG/boards/2/backlog</a></p>
        <h2 id="deployment">Deployment</h2>
        <p>Die API wird über Heroku automatisch bei Änderungen gebaut und neu deployed. 
        Zurzeit ist sie über <a href="https://recommender-system-hs.herokuapp.com/">https://recommender-system-hs.herokuapp.com/</a> aufrufbar.</p>
        <p>Eine detailierte Beschreibung folgt.</p>
        <p>Rückgabe der Filme:
        <a href="https://recommender-system-hs.herokuapp.com/movies">https://recommender-system-hs.herokuapp.com/movies</a></p>
        
    </body>
</html>